@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resourses.strings.LibArchive</title>
</head>
<body>
    <div>
        <h3>@Resourses.strings.LibraryArchiveAdministration</h3>
        <p><a href="/Book/Add/">@Resourses.strings.AddBook</a></p>
        <p><a href="/Book/Remove/">@Resourses.strings.RemoveBook</a></p>
        <p><a href="/Book/List/">@Resourses.strings.SeeBooks</a></p>

    </div>
</body>
</html>