@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resourses.strings.AddingBook</title>
</head>
<body>
    <div>
        <h3>@Resourses.strings.AddingBookForm</h3>
        <form method="post" action="">
            
            <table>
                
                <tr>
                    <td><p>@Resourses.strings.Title</p></td>
                    <td><input type="text" name="Title" /> </td>
                </tr>
                <tr>
                    <td><p>@Resourses.strings.Author </p></td>
                    <td>
                        <input type="text" name="Author" />
                    </td>
                </tr>
                <tr>
                    <td><p>@Resourses.strings.Genre</p></td>
                    <td><input type="text" name="Genre" /> </td>
                </tr>
                <tr>
                    <td><p>@Resourses.strings.Year</p></td>
                    <td><input type="text" name="Year"> </td>

                </tr>
                <tr>
                    <td><p>@Resourses.strings.Amount</p></td>
                    <td><input type="text" name="Amount"> </td>
                </tr>
                <tr><td><input type="submit" value="@Resourses.strings.Add" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>