@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>


<div>
    <h3>@Resourses.strings.BookList</h3>
    <table>
        <tr>
            <td><p>Id</p></td>
            <td><p>@Resourses.strings.Title</p></td>
            <td><p>@Resourses.strings.Author</p></td>
            <td><p>@Resourses.strings.Genre</p></td>
            <td><p>@Resourses.strings.Year</p></td>
            <td><p>@Resourses.strings.Amount</p></td>
            <td></td>
        </tr>
        @foreach (var b in ViewBag.Books)
        {
            <tr>
                <td><p>@b.Id</p></td>
                <td><p>@b.Title</p></td>
                <td><p>@b.Author</p></td>
                <td><p>@b.Genre</p></td>
                <td><p>@b.Year</p></td>
                <td><p>@b.Amount</p></td>
                <td><p><a href="/Book/RemoveFromList/@b.Id">@Resourses.strings.Remove</a></p></td>
            </tr>
        }
    </table>
</div>

