@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>


<div>
    <h3>Список Книг</h3>
    <table>
        <tr>
            <td><p>Id</p></td>
            <td><p>Назва</p></td>
            <td><p>Автор</p></td>
            <td><p>Жанр</p></td>
            <td><p>Рік</p></td>
            <td><p>Кількість</p></td>
            <td></td>
        </tr>
        @foreach (var b in ViewBag.Books)
        {
            <tr>
                <td><p>@b.Id</p></td>
                <td><p>@b.Title</p></td>
                <td><p>@b.Author</p></td>
                <td><p>@b.Genre</p></td>
                <td><p>@b.Year</p></td>
                <td><p>@b.Amount</p></td>
                <td><p><a href="/Book/RemoveFromList/@b.Id">Видалити</a></p></td>
            </tr>
        }
    </table>
</div>

